USE [VPS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[Profile] [nvarchar](500) NULL,
	[RoleId] [int] NULL,
	[BloggerId] [int] NULL,
	[ConsultantId] [int] NULL,
	[CustomerId] [int] NULL,
	[ManagerId] [int] NULL,
	[SupplierId] [int] NULL,
	[TechnicalId] [int] NULL,
	[AdminId] [int] NULL,
	[SaleId] [int] NULL,
	[ShipperId] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[DOB] [datetime] NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BloggerId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
	[PublishDate] [date] NULL,
	[ImageId] [int] NULL,
	[StatusId] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogger]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogger](
	[BloggerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[StatusId] [int] NULL,
	[BlogId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BloggerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NULL,
	[BloggerId] [int] NULL,
	[CustomerId] [int] NULL,
	[Content] [nvarchar](500) NULL,
	[CommentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant](
	[ConsultantId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractId] [int] IDENTITY(1,1) NOT NULL,
	[TechnicalId] [int] NULL,
	[SupplierId] [int] NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationId] [int] IDENTITY(1,1) NOT NULL,
	[ConversationName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Balance] [int] NULL,
	[DOB] [datetime] NULL,
	[StatusId] [int] NULL,
	[Avatar] [nvarchar](500) NULL,
	[IsValid] [bit] NULL,
	[Voucher] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ShipperId] [int] NULL,
	[ConsultantId] [int] NULL,
	[OrderId] [int] NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HStatus]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusNum] [int] NULL,
	[StatusValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerId] [int] NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[StatusId] [int] NULL,
	[Avatar] [nvarchar](250) NULL,
	[SaleId] [int] NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NULL,
	[CustomerId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Time] [datetime] NULL,
	[StatusId] [int] NULL,
	[ConsultantId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipId] [int] NULL,
	[Price] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[ShipCost] [money] NULL,
	[ManagerConfirm] [datetime] NULL,
	[SaleConfirm] [datetime] NULL,
	[ShipConfirm] [datetime] NULL,
	[CustomerConfirm] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[UnitPrice] [float] NULL,
	[Quantity] [int] NULL,
	[Discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[UnitInStock] [int] NULL,
	[UnitPrice] [float] NULL,
	[Image] [nvarchar](max) NULL,
	[StatusId] [int] NULL,
	[Brand] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountDate] [datetime] NULL,
	[Type] [nvarchar](100) NULL,
	[Moneytype] [nvarchar](50) NULL,
	[Quality] [int] NULL,
	[Maintaince] [nchar](100) NULL,
	[Coupon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ImageId] [int] NULL,
	[Description] [nchar](100) NULL,
 CONSTRAINT [PK_ProductDetail] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PStatus]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusNum] [int] NULL,
	[StatusValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRCode]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRCode](
	[QRID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[DayCreate] [datetime] NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[BuyId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_Buy] PRIMARY KEY CLUSTERED 
(
	[BuyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[OrderId] [int] NULL,
	[StatusId] [int] NULL,
	[ShipperId] [int] NULL,
	[CustomerId] [int] NULL,
	[Avatar] [nchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[Avatar] [nvarchar](200) NULL,
	[OrderId] [int] NULL,
	[StatusId] [int] NULL,
	[CustomerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusNum] [int] NULL,
	[StatusValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[TechnicalId] [int] NULL,
	[SupplierId] [int] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[Avatar] [nvarchar](1) NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierProduct]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierProduct](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Image] [nvarchar](250) NULL,
	[Brand] [nvarchar](250) NULL,
	[StatusId] [int] NULL,
	[UnitInStock] [int] NULL,
	[UnitPrice] [float] NULL,
	[NumberOfUse] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierStock]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierStock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[SupplierId] [int] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technical]    Script Date: 7/17/2023 8:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technical](
	[TechnicalId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DOB] [datetime] NULL,
	[Avatar] [nvarchar](250) NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [UserName], [Password], [Email], [Avatar], [Status], [Profile], [RoleId], [BloggerId], [ConsultantId], [CustomerId], [ManagerId], [SupplierId], [TechnicalId], [AdminId], [SaleId], [ShipperId], [CreatedDate]) VALUES (17, N'nguyenhoanglong', N'123456', N'nguyenhoanglong@email.com', NULL, 1, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(N'2023-05-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Account] ([AccountId], [UserName], [Password], [Email], [Avatar], [Status], [Profile], [RoleId], [BloggerId], [ConsultantId], [CustomerId], [ManagerId], [SupplierId], [TechnicalId], [AdminId], [SaleId], [ShipperId], [CreatedDate]) VALUES (19, N'nguyenhoainam', N'123456', N'nguyenhoainam@email.com', NULL, 1, NULL, 2, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2023-01-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Account] ([AccountId], [UserName], [Password], [Email], [Avatar], [Status], [Profile], [RoleId], [BloggerId], [ConsultantId], [CustomerId], [ManagerId], [SupplierId], [TechnicalId], [AdminId], [SaleId], [ShipperId], [CreatedDate]) VALUES (20, N'lehoanganh', N'123456', N'lehoanganh@email.com', NULL, 1, NULL, 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4, CAST(N'2023-03-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [FullName], [Phone], [Address], [DOB], [StatusID]) VALUES (1, N'Nguyễn Hoàng Long', N'0985551234', N'Hà Nội', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Admin] ([AdminId], [FullName], [Phone], [Address], [DOB], [StatusID]) VALUES (2, N'Trần Đình Nam', N'0965355678', N'Hồ Chí Minh', CAST(N'1995-05-05T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Admin] ([AdminId], [FullName], [Phone], [Address], [DOB], [StatusID]) VALUES (3, N'Nguyễn Huy Hoàng', N'0963452468', N'Đà Nẵng', CAST(N'1985-12-31T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([Id], [BloggerId], [Title], [Description], [PublishDate], [ImageId], [StatusId], [CategoryId]) VALUES (2, 1, N'Cách chọn thiết bị âm thanh hoàn hảo cho sự kiện của bạn', N'', CAST(N'2023-07-02' AS Date), 1, 1, 1)
INSERT [dbo].[Blog] ([Id], [BloggerId], [Title], [Description], [PublishDate], [ImageId], [StatusId], [CategoryId]) VALUES (3, 2, N'Olala', N'Mistric', CAST(N'2023-07-02' AS Date), 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogger] ON 

INSERT [dbo].[Blogger] ([BloggerId], [FullName], [Phone], [Address], [DOB], [StatusId], [BlogId]) VALUES (1, N'Nguyễn Hoài Nam', N'0985551234', N'Hà Nội', CAST(N'1985-06-15T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Blogger] ([BloggerId], [FullName], [Phone], [Address], [DOB], [StatusId], [BlogId]) VALUES (2, N'Phí Thị Quỳnh', N'0955555678', N'Lai Châu', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Blogger] ([BloggerId], [FullName], [Phone], [Address], [DOB], [StatusId], [BlogId]) VALUES (3, N'Trần Nam Anh', N'0935559876', N'Hải Phòng', CAST(N'1978-12-31T00:00:00.000' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Blogger] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (1, N'Thiết Bị Âm Thanh – Ánh Sáng', N'Thiết bị kết hợp âm thanh và ánh sáng để tạo ra hiệu ứng âm nhạc và ánh sáng đặc biệt.')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (2, N'Màn Hình LED', N'Thiết bị hiển thị hình ảnh và video sử dụng công nghệ LED.')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (3, N'Hệ Thống Sân Khấu', N'Thiết bị âm thanh, ánh sáng và hiệu ứng trên sân khấu.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultant] ON 

INSERT [dbo].[Consultant] ([ConsultantId], [FullName], [Phone], [Address], [DOB], [StatusId]) VALUES (1, N'Nguyễn Văn An', N'0987654321', N'Hà Nội', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Consultant] ([ConsultantId], [FullName], [Phone], [Address], [DOB], [StatusId]) VALUES (2, N'Trần Thị Bích', N'0954645456', N'Hồ Chí Minh', CAST(N'1985-02-15T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Consultant] ([ConsultantId], [FullName], [Phone], [Address], [DOB], [StatusId]) VALUES (3, N'Lê Quang Cao', N'0912345678', N'Đà Nẵng', CAST(N'1995-07-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Consultant] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Address], [Balance], [DOB], [StatusId], [Avatar], [IsValid], [Voucher]) VALUES (16, N'Nguyễn Văn Anh', N'0987654321', N'Hà Nội', 5000000, CAST(N'1990-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Address], [Balance], [DOB], [StatusId], [Avatar], [IsValid], [Voucher]) VALUES (18, N'Lê Quang Cường', N'0912345678', N'Đà Nẵng', 7500000, CAST(N'1995-07-30T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Address], [Balance], [DOB], [StatusId], [Avatar], [IsValid], [Voucher]) VALUES (19, N'Phạm Thanh Hùng', N'099897635', N'Nghệ An', 2000000, CAST(N'1993-04-21T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[HStatus] ON 

INSERT [dbo].[HStatus] ([StatusId], [StatusNum], [StatusValue]) VALUES (1, 1, N'Đang hoạt động')
INSERT [dbo].[HStatus] ([StatusId], [StatusNum], [StatusValue]) VALUES (2, 2, N'Ngừng hoạt động')
SET IDENTITY_INSERT [dbo].[HStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [ImageName]) VALUES (1, N'function.jpg')
INSERT [dbo].[Image] ([ImageId], [ImageName]) VALUES (2, N'Domain.jpg')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [SaleId], [CustomerId], [OrderDate], [ShippedDate], [ShipId], [Price], [Status], [ShipCost], [ManagerConfirm], [SaleConfirm], [ShipConfirm], [CustomerConfirm]) VALUES (18, 2, 18, CAST(N'2023-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-07T00:00:00.000' AS DateTime), 3, 250000, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([OrderId], [SaleId], [CustomerId], [OrderDate], [ShippedDate], [ShipId], [Price], [Status], [ShipCost], [ManagerConfirm], [SaleConfirm], [ShipConfirm], [CustomerConfirm]) VALUES (19, 2, 19, CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(N'2023-06-08T00:00:00.000' AS DateTime), 3, 200000, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([OrderId], [SaleId], [CustomerId], [OrderDate], [ShippedDate], [ShipId], [Price], [Status], [ShipCost], [ManagerConfirm], [SaleConfirm], [ShipConfirm], [CustomerConfirm]) VALUES (20, 3, 20, CAST(N'2023-06-05T00:00:00.000' AS DateTime), CAST(N'2023-06-09T00:00:00.000' AS DateTime), 1, 300000, 1, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (10, 20, 5, 12.49, 2, 0.05)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (1023, 1011, 1, 10.5, 2, 0.1)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (1024, 1011, 2, 15.75, 1, 0.05)
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [UnitInStock], [UnitPrice], [Image], [StatusId], [Brand], [Description], [DiscountDate], [Type], [Moneytype], [Quality], [Maintaince], [Coupon]) VALUES (1, N'Loa', 1, 100, 200, NULL, 1, N'ABC Electronics', N'Loa là thiết bị âm thanh được sử dụng để tái tạo âm thanh từ các nguồn khác nhau. Có nhiều loại loa khác nhau, bao gồm loa bookshelf, loa đứng, loa siêu trầm, loa không dây.', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [UnitInStock], [UnitPrice], [Image], [StatusId], [Brand], [Description], [DiscountDate], [Type], [Moneytype], [Quality], [Maintaince], [Coupon]) VALUES (2, N'Amplifie', 1, 150, 150, NULL, 1, N'XYZ Corporation', N'Được sử dụng để cung cấp nguồn điện cho loa và tăng cường âm lượng.', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [UnitInStock], [UnitPrice], [Image], [StatusId], [Brand], [Description], [DiscountDate], [Type], [Moneytype], [Quality], [Maintaince], [Coupon]) VALUES (3, N'Màn hình LED ngoài trời', 2, 80, 500, NULL, 1, N'DEF Displays', N'Cung cấp cho khách hàng một giải pháp truyền thông đa phương tiện với độ sáng cao và khả năng chống thời tiết tốt, được sử dụng rộng rãi trong quảng cáo ngoài trời, các sự kiện âm nhạc và thể thao.', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[PStatus] ON 

INSERT [dbo].[PStatus] ([StatusId], [StatusNum], [StatusValue]) VALUES (1, 1, N'Sản phẩm hết hàng')
INSERT [dbo].[PStatus] ([StatusId], [StatusNum], [StatusValue]) VALUES (2, 2, N'Sản phẩm còn trong kho')
INSERT [dbo].[PStatus] ([StatusId], [StatusNum], [StatusValue]) VALUES (3, 3, N'Sản phẩm đang được khuyến mãi')
SET IDENTITY_INSERT [dbo].[PStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([BuyId], [OrderId], [CustomerId]) VALUES (2, 18, 16)
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Blogger')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Consultant')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [FullName], [Phone], [Address], [DOB], [OrderId], [StatusId], [ShipperId], [CustomerId], [Avatar]) VALUES (1, N'Nguyễn Thị Anh', N'0987654321', N'Hà Nội', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 1, 1, 2, 1, NULL)
INSERT [dbo].[Sale] ([SaleId], [FullName], [Phone], [Address], [DOB], [OrderId], [StatusId], [ShipperId], [CustomerId], [Avatar]) VALUES (2, N'Trần Văn Bình', N'0901234567', N'Tp.HCM', CAST(N'1985-05-20T00:00:00.000' AS DateTime), 2, 1, 1, 2, NULL)
INSERT [dbo].[Sale] ([SaleId], [FullName], [Phone], [Address], [DOB], [OrderId], [StatusId], [ShipperId], [CustomerId], [Avatar]) VALUES (3, N'Lê Minh Cung', N'0912345678', N'Đà Nẵng', CAST(N'2000-12-31T00:00:00.000' AS DateTime), 3, 1, 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([ShipperID], [FullName], [Phone], [Address], [DOB], [Avatar], [OrderId], [StatusId], [CustomerId]) VALUES (1, N'Nguyễn Thành Long', N'0987433564', N'Hà Nội', CAST(N'1992-12-22T00:00:00.000' AS DateTime), NULL, 1, 1, 1)
INSERT [dbo].[Shipper] ([ShipperID], [FullName], [Phone], [Address], [DOB], [Avatar], [OrderId], [StatusId], [CustomerId]) VALUES (2, N'Trần Bình Dang', N'0987963746', N'Hải Phòng', CAST(N'1994-03-12T00:00:00.000' AS DateTime), NULL, 2, 2, 2)
INSERT [dbo].[Shipper] ([ShipperID], [FullName], [Phone], [Address], [DOB], [Avatar], [OrderId], [StatusId], [CustomerId]) VALUES (3, N'Nguyễn Trí Tuệ', N'0987673647', N'Hà Nội', CAST(N'1998-03-02T00:00:00.000' AS DateTime), NULL, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [StatusNum], [StatusValue]) VALUES (1, 1, N'Chờ manager duyệt đơn hàng')
INSERT [dbo].[Status] ([StatusId], [StatusNum], [StatusValue]) VALUES (2, 2, N'Chờ sale duyệt đơn hàng')
INSERT [dbo].[Status] ([StatusId], [StatusNum], [StatusValue]) VALUES (3, 3, N'Chờ shipper duyệt đơn hàng')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Technical] ON 

INSERT [dbo].[Technical] ([TechnicalId], [FullName], [Phone], [Address], [DOB], [Avatar], [StatusId]) VALUES (1, N'Nguyễn Văn Anh', N'0987654321', N'Hà Nội', CAST(N'1980-01-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Technical] ([TechnicalId], [FullName], [Phone], [Address], [DOB], [Avatar], [StatusId]) VALUES (2, N'Trần Thị Bắc', N'0901234567', N'Tp.HCM', CAST(N'1995-05-20T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Technical] ([TechnicalId], [FullName], [Phone], [Address], [DOB], [Avatar], [StatusId]) VALUES (3, N'Lê Minh Canh', N'0912345678', N'Đà Nẵng', CAST(N'1990-12-31T00:00:00.000' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[Technical] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Admin] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admin] ([AdminId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Admin]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Blogger] FOREIGN KEY([BloggerId])
REFERENCES [dbo].[Blogger] ([BloggerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Blogger]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultant] ([ConsultantId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Consultant]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customers]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Manager]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Sale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Sale]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Shipper] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Shipper]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Supplier]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Technical] FOREIGN KEY([TechnicalId])
REFERENCES [dbo].[Technical] ([TechnicalId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Technical]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_HStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_HStatus]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Blogger] FOREIGN KEY([BloggerId])
REFERENCES [dbo].[Blogger] ([BloggerId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Blogger]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blogger] FOREIGN KEY([BloggerId])
REFERENCES [dbo].[Blogger] ([BloggerId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blogger]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Customers]
GO
ALTER TABLE [dbo].[Consultant]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Consultant] CHECK CONSTRAINT [FK_Consultant_HStatus]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Supplier]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Technical] FOREIGN KEY([TechnicalId])
REFERENCES [dbo].[Technical] ([TechnicalId])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Technical]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_HStatus]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultant] ([ConsultantId])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Consultant]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Customers]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Order]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Shipper] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Shipper]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_HStatus]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultant] ([ConsultantId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Consultant]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversation] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversation]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Customers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Sale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Sale]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipper] FOREIGN KEY([ShipId])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipper]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_PStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[PStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_PStatus]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Buy_Customers]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Buy_Order]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_HStatus]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [FK_Shipper_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [FK_Shipper_HStatus]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Supplier]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_SupplierProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[SupplierProduct] ([ProductId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_SupplierProduct]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Technical] FOREIGN KEY([TechnicalId])
REFERENCES [dbo].[Technical] ([TechnicalId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Technical]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_HStatus]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [FK_SupplierProduct_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [FK_SupplierProduct_Category]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [FK_SupplierProduct_PStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[PStatus] ([StatusId])
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [FK_SupplierProduct_PStatus]
GO
ALTER TABLE [dbo].[SupplierStock]  WITH CHECK ADD  CONSTRAINT [FK_SupplierStock_SupplierProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[SupplierProduct] ([ProductId])
GO
ALTER TABLE [dbo].[SupplierStock] CHECK CONSTRAINT [FK_SupplierStock_SupplierProduct]
GO
ALTER TABLE [dbo].[Technical]  WITH CHECK ADD  CONSTRAINT [FK_Technical_HStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[HStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Technical] CHECK CONSTRAINT [FK_Technical_HStatus]
GO
